/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/dist/_test_/my/instanceof.d.ts
/dist/_test_/my/instanceof.js
/dist/_test_/my/new.d.ts
/dist/_test_/my/new.js
/dist/_test_/__dirname.d.ts
/dist/_test_/__dirname.js
/dist/_test_/array.d.ts
/dist/_test_/array.js
/dist/_test_/async.d.ts
/dist/_test_/async.js
/dist/_test_/bin.d.ts
/dist/_test_/bin.js
/dist/_test_/buffer.d.ts
/dist/_test_/buffer.js
/dist/_test_/check.d.ts
/dist/_test_/check.js
/dist/_test_/closures.d.ts
/dist/_test_/closures.js
/dist/_test_/copy.d.ts
/dist/_test_/copy.js
/dist/_test_/debounce.d.ts
/dist/_test_/debounce.js
/dist/_test_/decorator.d.ts
/dist/_test_/decorator.js
/dist/_test_/deepCopy.d.ts
/dist/_test_/deepCopy.js
/dist/_test_/dom.d.ts
/dist/_test_/dom.js
/dist/_test_/EventBus.d.ts
/dist/_test_/EventBus.js
/dist/_test_/EventLoop.d.ts
/dist/_test_/EventLoop.js
/dist/_test_/fetch.d.ts
/dist/_test_/fetch.js
/dist/_test_/get.d.ts
/dist/_test_/get.js
/dist/_test_/get-template-version.d.ts
/dist/_test_/get-template-version.js
/dist/_test_/gh.d.ts
/dist/_test_/gh.js
/dist/_test_/gh_test.d.ts
/dist/_test_/gh_test.js
/dist/_test_/icon.d.ts
/dist/_test_/icon.js
/dist/_test_/iconsize.d.ts
/dist/_test_/iconsize.js
/dist/_test_/IO.d.ts
/dist/_test_/IO.js
/dist/_test_/iterator.d.ts
/dist/_test_/iterator.js
/dist/_test_/link.d.ts
/dist/_test_/link.js
/dist/_test_/new.d.ts
/dist/_test_/new.js
/dist/_test_/object.d.ts
/dist/_test_/object.js
/dist/_test_/prototype.d.ts
/dist/_test_/prototype.js
/dist/_test_/proxy.d.ts
/dist/_test_/proxy.js
/dist/_test_/random.d.ts
/dist/_test_/random.js
/dist/_test_/react.d.ts
/dist/_test_/react.js
/dist/_test_/reg.d.ts
/dist/_test_/reg.js
/dist/_test_/register.d.ts
/dist/_test_/register.js
/dist/_test_/release.config.cjs
/dist/_test_/release.config.d.cts
/dist/_test_/result.d.ts
/dist/_test_/result.js
/dist/_test_/task.d.ts
/dist/_test_/task.js
/dist/_test_/tesp.d.ts
/dist/_test_/tesp.js
/dist/_test_/test.d.ts
/dist/_test_/test.js
/dist/_test_/typed.d.ts
/dist/_test_/typed.js
/dist/_test_/worker.d.ts
/dist/_test_/worker.js
/dist/_test_/xhr.d.ts
/dist/_test_/xhr.js
/dist/src/copyDir.d.ts
/dist/src/copyDir.js
/dist/src/formatText.d.ts
/dist/src/formatText.js
/dist/src/index.d.ts
/dist/src/index.js
/dist/src/ip2region.cjs
/dist/src/ip2region.d.cts
/dist/src/npm.d.ts
/dist/src/npm.js
/dist/src/pkg-filed.d.ts
/dist/src/pkg-filed.js
/dist/src/puppeteer.d.ts
/dist/src/puppeteer.js
/dist/src/restore-wechat-images.d.ts
/dist/src/restore-wechat-images.js
/dist/src/try.d.ts
/dist/src/try.js
/dist/src/useCrawler.d.ts
/dist/src/useCrawler.js
