name: Release NPM Package

on:
  push:
    tags:
      - v*.*.*
      - deps-*
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Release NPM Package
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.ref }}
      
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.24.0
      
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          registry-url: https://registry.npmjs.org/
          cache: pnpm
      
      - name: Set Git Identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      
      - name: Install deps
        run: pnpm install --frozen-lockfile
      
      - name: Build
        run: pnpm build
      
      - name: Release
        run: pnpm exec release --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
